img {
    width: 1000px;
}

body {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

#heeheeha {
    color: white
}

.eeeeee:hover {
    transform: rotate(720deg);
}

.eeeeee {
    font-style: underline;
    color: Blue;
    display: inline-block; 
    transition: transform 1s;
    transform: rotate(0deg); 
    text-decoration: underline;
}
